.ExperienceCard-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    width: 100%;
}

.ExperienceCard-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px
}

.ExperienceCard-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.ExperienceCard-bar {
    height: 160px;
    width: 30px;
    padding-bottom: 10px;
}

.ExperienceCard-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExperienceCard-text {}