.DomainsCard-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
}

.DomainsCard-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px
}

.DomainsCard-content {
    display: flex;
    flex-direction: column;
}

.DomainsCard-row {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.Circle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.DomainsCard-row:nth-child(odd) .DomainsCard-row-left .Circle {
    background-color: var(--alternate-color-1);
}

.DomainsCard-row:nth-child(even) .DomainsCard-row-left .Circle {
    background-color: var(--alternate-color-2);
}

.DomainsCard-row:nth-child(odd) .DomainsCard-row-right {
    color: var(--alternate-color-1);
}

.DomainsCard-row:nth-child(even) .DomainsCard-row-right {
    color: var(--alternate-color-2);
}

.DomainsCard-row-left {
    min-width: 180px;
    flex-grow: 1;
    -webkit-box-align: baseline;
    align-items: baseline;
    gap: 8px;
    display: flex;
}

.DomainsCard-row-right {
    gap: 16px;
    max-width: 150px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.Progress-bar {
    width: 100%;
    height: 6px;
}