.Resume-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200vh;
}

.Resume-column-left {
    flex-basis: 66.6667%;
    max-width: 66.6667%;
}

.Resume-column-right {
    right: 0;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
    margin: 0 24px 24px 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px -2px, rgba(0, 0, 0, 0.04) 0px 3px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 8px 0px !important;
}

.Column-left-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Column-left-card {
    margin: 0 0 24px 24px;
    display: flex;
}

.Column-left-card-domains {
    max-width: 41.6667%;
    flex-basis: 41.6667%;
}

.Column-left-card-technology {
    flex-basis: 58.3333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 58.3333%;
}