body {
    margin: 0;
    letter-spacing: 0.00938em;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background-shade: rgb(250, 250, 250);
    --blue-shade: rgb(116, 103, 239);
    --light-blue-text-shade: #E0E0E0;
    --alternate-color-1: rgb(255, 158, 67);
    --alternate-color-2: rgb(116, 103, 239);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}